//@import 'normalize';
//@import 'variable';
//@import 'card';

.site-header{
    background-color: $accent-color;
    box-shadow: 0 0 3vmin $darken-shadow;
    color: $white;
    height: 10%;
    margin: 0 0 calc( #{$vertical-base} * 3 );
    padding: $vertical-base 0 0;
    text-align: center;
    width: 100%;
}
