/*
    color
1.Primary color
2.accent 6 base
3.shadow
*/
$red: #f44336;
$blue: #03a9f4;
$yellow: #ffeb3b;
$orenge: #ff9800;
$green: #8bc34a;
$black: #000;
$gray: #ddd;
$white: #fff;

$root-color: #000;
$accent-color: #03a9f4;

$mastodon: #00a4ff;
$twitter: #55acee;
$facebook: #3b5998;
$line: #6cc655;
$gplus: #dc4e41;
$linkedin: #36465d;
$reddit: #ff5700;
$vk: #83bad6;
$stumbleupon: #fc0;
$hatebu: #00a5de;
$pocket: #ef3f56;
$pinterest: #bd081c;
$tumblr: #36465d;

$darken-shadow: rgba(0, 0, 0, .3);
$shadow: rgba(0, 0, 0, .2);
$lighten-shadow: rgba(0, 0, 0, .1);

/*
    size
1.base of vertical rism
*/
$vertical-base: 2vh;
