/*
    color
1.Primary color
2.accent 6 base
3.shadow
*/
$red:#f44336;
$blue:#03a9f4;
$yellow:#ffeb3b;
$orenge:#ff9800;
$green:#8bc34a;
$black:#000;
$white:#fff;

$root-color:#000;
$accent-color:#03a9f4;

$darken-shadow:rgba(0, 0, 0, .3);
$shadow:rgba(0, 0, 0, .2);
$lighten-shadow:rgba(0, 0, 0, .1);

/*
    size
1.base of vertical rism
*/
$vertical-base: 2vh;
